.header {
    padding: 30px 5% 10px;
}
.content {
    display: flex;
    padding-bottom: 50px;
}
.course {
    margin: 30px auto 0 5%;
    width: 42%;
}
.course-ttl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.course-ttl__ttl-box {
    display: flex;
    align-items: center;
}
.course-ttl__back {
    padding: 5px 8px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    margin-right: 15px;
    cursor: pointer;
}
.course-ttl__ttl {
    font-size: 32px;
}
.course-img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}
.course-overview,
.course-detail {
    line-height: 1.4em;
    margin-bottom: 30px;
}
.course-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
}
.reserve {
    position: relative;
    background-color: #305dff;
    height: 90vh;
    width: 42%;
    margin: 0 5% 0 auto;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}
.reserve-ttl {
    color: #fff;
    font-size: 24px;
    padding: 30px 20px;
}
.reserve-input-box {
    margin: 10px 20px;
}
.reserve-input,
.reserve-input__time,
.reserve-input__number {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.reserve-input__time,
.reserve-input__number {
    width: 100%;
    box-sizing: border-box;
}
.check {
    margin: 30px 20px;
    padding: 20px;
    background-color: #4d7fff;
    border-radius: 5px;
}
.table {
    color: #fff;
}
.th,
.td {
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
.select-payment {
    padding: 20px;
}
.radio-label {
    color: #fff;
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding-left: 1em;
}
.payment-check {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.reserve-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: #0538ff;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
}
.error {
    padding: 5px 20px;
    color: #fff;
    font-size: 16px;
}
#card_holder_name {
    border-radius: 5px 5px 0 0;
    padding: 12px;
    height: 3em;
    width: 100%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
}
#card_element {
    border-radius: 0 0 5px 5px;
    padding: 12px;
    height: 3em;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .content {
        display: block;
    }
    .course {
        width: 80%;
        margin: 30px auto;
    }
    .reserve {
        width: 80%;
        margin: 30px auto;
        height: 70vh;
    }
}
