.header {
    padding: 30px 5% 10px;
}
.user-name {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 5%;
}
.reserves-box {
    width: 48%;
}
.reserves-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.reserve {
    position: relative;
    background-color: #305dff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    width: 60%
}
.reserve-ttl {
    display: flex;
    align-items: center;
}
.reserve-ttl__img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.reserve-ttl__ttl {
    color: #fff;
}
.table {
    margin-top: 20px;
    color: #fff;
}
.th,
.td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
.reserve-delete {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.reserve-delete__img {
    width: 20px;
    height: 20px;
}
.reserve-delete__input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 2;
}
.reserve-edit__button {
    display: block;
    margin-left: auto;
    padding: 5px 10px;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
.likes-box {
    width: 48%;
}
.likes-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.likes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 45%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    background-color: #fff;
}
.card__text-box {
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}
.card__content-img {
    text-align: center;
}
.card__img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.card__ttl-box {
    display: flex;
    justify-content: space-between;
}
.average-score {
    display: flex;
    justify-content: center;
    align-items: end;
}
.average-score-display {
    margin-right: 5px;
    font-size: 16px;
}
.star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 17px;
}
.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcc33;
    height: 25px;
}
.star-rating-back {
    color: #ccc;
}
.card__hash {
    display: flex;
}
.card__hash--area,
.card__hash--genre {
    font-size: 10px;
    margin: 5px 3px 0 0;
}
.card__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.card__action--button {
    background-color: #305dff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    display: block;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.card__action--like-box {
    position: relative;
}
.card__action--like {
    width: 25px;
    height: 25px;
}
.card__action--like-input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    z-index: 2;
}
.reserve-history{
    width: 100%;
}