.header {
    padding: 30px 5% 10px;
}
.content {
    margin: 50px 10%;
}
.ttl {
    font-size: 32px;
    margin-bottom: 30px;
    color: #1587d3;
}
.item-container {
    margin-bottom: 20px;
}
.item-container label {
    vertical-align: middle;
    margin-right: 10px;
}
.input {
    height: 2em;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
}
.select-shop {
    height: 2em;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
}
.icon {
    width: 25px;
    height: 25px;
}
.button {
    width: 100px;
    height: 2em;
    font-size: 16px;
    background-color: #1587d3;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.error{
  margin-bottom: 10px;
}